@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
}

aside {
	position: fixed; right: 50px;
	width: 30%;
}

footer {
position: fixed; left: 5px; bottom: 5px;
}

header {
padding-bottom: 25px;
}

img {
	max-width: 75%;
}

main {
position: fixed; left: 150px;
width: 30%;
}

nav {
	position: fixed;
float: left;
padding-right: 15px;
}

#copyright {
	font-size: 80%;
}

#main-container {

}